[Unit]
Description=Camera Display Service
After=graphical.target
Requires=graphical.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/opencvwalldisplay/camera_display.py
WorkingDirectory=/home/pi/opencvwalldisplay
StandardInput=tty
StandardOutput=journal
Restart=always
User=pi  
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority  

[Install]
WantedBy=multi-user.target
