[Unit]
Description=Camera Display Service
After=graphical.target
Requires=graphical.target

[Service]
Type=simple
ExecStart=/home/pi/opencvwalldisplay/start_camera_display.sh
WorkingDirectory=/home/pi/opencvwalldisplay
StandardInput=tty
StandardOutput=journal
Restart=always
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=HOME=/home/pi


[Install]
WantedBy=graphical.target
